<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Base Styles -->
    <link rel="stylesheet" href="/css/index.css"> <!-- index.ejs Custom Styles -->
    <link rel="stylesheet" href="/css/projects.css"> <!-- projects.ejs Custom Styles -->
    <link rel="stylesheet" href="/css/resume.css"> <!-- resume.ejs Custom Styles -->
    <link rel="stylesheet" href="/css/about.css"> <!-- about.ejs Custom Styles -->
    <link rel="stylesheet" href="/css/contact.css"> <!-- contact.ejs Custom Styles -->
</head>

<body>
    <header>
        <div class="container">
            <div class="logo-container">
                <div class="logo-letters">
                    <span class="letter B">B</span>
                    <span class="letter L">L</span>
                </div>
                <a href="/" class="logo">
                    <span class="logo-text">Brandon Lombard</span>
                </a>
            </div>
            <nav class="nav">
                <button class="nav-toggle" aria-label="toggle navigation">
                    <span class="hamburger"></span>
                </button>
                <ul class="nav-list">
                    <li><a href="/" class="<%= title === 'Home' ? 'current-page' : '' %>">Home</a></li>
                    <li><a href="/about" class="<%= title === 'About' ? 'current-page' : '' %>">About</a></li>
                    <li><a href="/projects" class="<%= title === 'Projects' ? 'current-page' : '' %>">Projects</a></li>
                    <li><a href="/resume" class="<%= title === 'Resume' ? 'current-page' : '' %>">Resume</a></li>
                    <li><a href="/contact" class="<%= title === 'Contact' ? 'current-page' : '' %>">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            <%- body %> <!-- Content from other views will be injected here -->
        </div>
    </main>

    <footer>
        <div class="container">
            <!-- This copyright text and year autofills from script.js -->
            <p id="copyright"></p>
        </div>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>